.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.fondo{
  background-color: maroon;
}

.nav{
  background-color: rgb(136, 29, 29);
  display: flex;
  justify-content: center;
  gap: 2em;
}